<app-toolbar></app-toolbar>
<div class="littlecontainer">
<button mat-raised-button color="primary" class="mebutton" routerLink="/login">Login Page</button>
<button mat-raised-button color="primary" class="mebutton" routerLink="/admin">Manager</button>
<button mat-raised-button color="primary" class="mebutton" routerLink="/table">Table</button>
<button mat-raised-button color="primary" class="mebutton" routerLink="/worker">Worker</button>
<button mat-raised-button color="primary" class="mebutton" routerLink="/notes">Notas</button>
<button mat-stroked-button color="accent" class="mebutton">A design test</button>
</div>

