<app-toolbar></app-toolbar>
<form
  #loginForm="ngForm"
  (ngSubmit)="onSubmit(selectedUserId)"
  class="full-width"
>
  <mat-form-field appearance="legacy">
    <mat-label>Enter Username</mat-label>

    <mat-select [(value)]="selectedUserId">
      <mat-select-trigger>{{ selectedUserId }}</mat-select-trigger>

      <mat-option *ngFor="let user of allUsers" [value]="user.userId">
        {{ user.userId }} - {{ user.name }}
      </mat-option>
    </mat-select>

    <mat-hint *ngIf="!loginForm.valid">
      <strong>Please enter username</strong>
    </mat-hint>

    <div class="btnstyle">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </div>
  </mat-form-field>
</form>
