
.full-width {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* background-color: rgb(221, 220, 220); */
  border: 2px solid black;
  border-radius: 5%;
  box-shadow: 2px;
  width: 200px;
  padding: 5px 10px;
  justify-self: center;
  justify-content: center;
  margin: 20px auto 0px auto;
}

.formdesign {
  display: flex;
  width: 200px;
  padding: 8px 2px;
  margin: 7px 5px;
  text-align: center;
  justify-content: center;
}

.inputstyle {
  border-bottom: solid 2px gray;
}

.btnstyle {
  text-align: left;
  padding: 0px;
  margin-top: 20px;
}
