mat-form-field {
   width: 300px;
   /* display: flex; */
   /* align-self: center;
   justify-self: center; */
   /* align-self: center; */
   /* text-align: center; */
}

textarea {
  border: 2px solid black;
}

button {
  margin: 7px auto;
  align-self: right;
}

input {
  display: none;
}

.littlecontainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}
