
<mat-card>
  <mat-card-header>
    <mat-card-title>meh placeholders</mat-card-title>
    <mat-card-subtitle>more meh stuff for SEO syntax</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-workertable [tblHeaders]="colheaders" [usrData]="allWorkers" (cellSelect)="onSelect()"></app-workertable>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Add</button>
    <!-- <button mat-raised-button color="primary" (click)="onRemove()">Remove</button> -->
  </mat-card-actions>
  <mat-card-footer>The footer works</mat-card-footer>
</mat-card>
