<mat-card>
  <mat-card-header>
    <mat-card-title>title</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-spreadtable [tblHeaders]="colheaders" [mngData]="loadedProjects" (cellSelect)="onSelect($event)"></app-spreadtable>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSelect(loadedProject)">Add</button>
    <button mat-raised-button color="primary" (click)="onRemove(loadedProject)">Remove</button>
  </mat-card-actions>
  <mat-card-footer>Testing the end</mat-card-footer>
</mat-card>
